.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6f8dcf; 
  padding: 20px;
  color: white;
  position: sticky;
  top: 0px;
  z-index: 1000;
}

.navbarBrand {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none!important;
}


.navbarNav {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navLink {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}

.navLink:hover {
  color: #dbeafe; 
  text-decoration: underline;
}
